body {
    padding-top: 75px;
}

.professeur {
    display: none;
}


body.light-mode {
  background-color: #ffffff;
  color: #000000;
}

body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

.navbar.dark-mode {
  background-color: #1f1f1f !important;
}

#deconect.dark-mode {
  background-color: #333333;
}

#deconect.dark-mode:hover {
  background-color: #444444;
}
